.input-xlarge{
    width: 50%;
    border-radius: 5px;
}
.form-horizontal{
    margin-left: 400px;
    margin-top: 50px;
}
.help-block{
    font-weight: bold;
}
#button{
    background-color: #1A2930;
    border-color: #1A2930;
    margin-top: 10px;
}
.newr {
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.task-card{
    background-color: #606060;
    border-radius: 15px;
    padding: 1em;
    height: 60em;
}
.task-card h3 {
    color: white;
}
.task-content{
    height: 52em;
    overflow-y: auto !important;
    display: block;
    background-color:white;
}
.list-group a p.mb-0 {
    font-weight: 200;
}