/*----------------------------------------General theme----------------------------------------------------------------*/
html,body{
    overflow-x: hidden;
    background-color: white;
    }
#main{
    background-color: #1A2930;
}
/*-----------Top Part------------*/
#banner{
    display:block;
    width:100%;
    background-color: #1A2930;
    color: white;
    position:fixed;
    z-index: 999;
}
#banner a img {
    float: left;
    margin-left: 2em;
    width: 150px;
    height: 100px;
    background-color: #1A2930;
}
#buttun{
    display:inline-block;
}
#noti-place {
    display:block;
    float: right;
    margin-top: 1em;
    padding-right: 2em;
    margin-left: 20px;
}
#noti-place .dropdown-menu {
    left: -5em;
    color: white;
    background-color: #606060;
    padding: 2px;
}
#profile-tag {
    display:inline-block;
    float: right;
    margin-top: 0.5em;
}
#profile-tag a img{
    display:block;
    height: 50px;
    width: 50px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
#profile-tag a p{
    display: inline-block;
    margin: 0.5em 0em 0em 0.5em;
    color: white;
}
#profile-tag .dropdown-menu {
    background-color: #606060;
}
#profile-tag .dropdown-menu a{
    padding-left: 1.5rem;
    color:white;
    display:block;
}

/*-----------Side Bar------------*/
#sidebar {
    display: block;
    margin-top: 4em;
    position: fixed;
    width: 13%;
    min-width: 10%;
    background-color: #1A2930;
    height: 100%;
}
#menu{
    margin-top: 1em;
}
.list-group li{
    margin: 0.25em;
    border:none !important;
    display: block;
    text-align: center;
    padding: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #1A2930;
    font-family: monospace;
    font-size: x-large;
}
.list-group li a{
    color: white;
}
/*--------Body of the page--------*/
#all-content{
    display:inline-block;
    margin-top: 6em;
    padding: 1em;
    background-color: white;
    height: 100%;
    width:100%;
    padding-left: 15%;
}
#content {

}
.dropdown{
    margin-left: 100px;
}



